@charset "utf-8";

#main-container {
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    }
    
#main-container-header {
    height: 40px;
    width: 100%;
    background-color: white;
    position: absolute;
    }
    
#main-container-center {
    width: 100%;
    background-color: white;
    position: absolute;
    }

#main-container-footer {
    height: 6px;
    width: 100%;
    background-color: white;
    position: absolute;
    }
    
    
        .dgridmod-container {
            height: 100%;
            width: 100%;
            background-color: #CCC !important;
        }
        #PartyTabContainer .dgridmod-header {
            height: 100%;
            width: 100%;
            display: none;
            background-color: #AFA !important;
        }
        #PartyTabContainer .dgridmod-footer {
            height: 100%;
            width: 100%;
            display: none;
            background-color: #FAA !important;
        }
        #PartyTabContainer .dgridmod-center {
            height: 100%;
            width: 100%;
            display: block;
            background-color: #AAF !important;
        }
        .assoc-grid-container {
            height: auto;
            margin: 20px;
            border: 1px solid purple;
        }
        
        .assoc-grid {
            width:100%; 
            height: auto;
            display: none;
            border: none;
        }
        
        .assoc-grid-header {
            width:100%; 
            height: auto; 
            border: none;
        }
        
        .assoc-grid-form {
            width:100%; 
            height: auto; 
            display: none;
            border: none;
        }
        
    .assoc-grid-container .dgrid {
            height: auto;
    }
       
    .assoc-grid-container .dgrid .dgrid-scroller {
            position: relative;
            overflow: visible;
        }
       
		
    .partytab-edit {
        display: none;
    }
    
    .partytab-create {
        display: block;
    }
    
    .assoc-form {
        display: block;
    }
     
    .locator-container {
          width: 100%;
          height: 100%;
          overflow-y: auto;
          border: none;
    }
    .locator-tab {
          width: 100%;
          height: 100%;
          border: none;
    }
    .locator-map-container {
        position: absolute;
          height: 100%;
          border: none;
    }
    
    .locator-list-container {
        position: absolute;
        width: 400px;
        height: 100%;
        border: none;
    }
    
    .locator-map {
        position: absolute;
          width: 500px;
          height: 400px;
          float: left;
          border: none;
    }
    
    .locator-map {
        position: absolute;
          width: 300px;
          height: 400px;
          float: right;
          border: none;
    }
    
    #locatorTab .dijitTabContainerTopChildWrapper {
        height: inherit;
    }

    .product-name {
        text-align: left;
    }
    
    .party-product {
        width: 45%;
        height: 160px;
    }
    
    .party-product .dgrid{
        width: 100%;
        height: 130px;
    }
    
    .party-product .dgrid .dgrid-scroller {
        overflow: auto;
        }
        
    .locator-grid .field-organizationName {
        font-size: 16px;
        font-weight: heavy;
    }
    
    .locator-list-header {
        font-size: 16px;
        font-weight: heavy;
        margin: 6px;
    }
    .locator-grid .dgrid-cell {
        border: none;
    }
