@charset "utf-8";

#main-container {
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    }
    
#main-container-header {
    height: 40px;
    width: 100%;
    background-color: white;
    position: absolute;
    }
    
#main-container-center {
    width: 100%;
    background-color: white;
    position: absolute;
    }

#main-container-footer {
    height: 6px;
    width: 100%;
    background-color: white;
    position: absolute;
    }
    
    
        .dgridmod-container {
            height: 100%;
            width: 100%;
            background-color: #CCC !important;
        }
        #PartyTabContainer .dgridmod-header {
            height: 100%;
            width: 100%;
            display: none;
            background-color: #FFA !important;
        }
        #PartyTabContainer .dgridmod-footer {
            height: 100%;
            width: 100%;
            display: none;
            background-color: #DDF !important;
        }
        #PartyTabContainer .dgridmod-center {
            height: 100%;
            width: 100%;
            display: block;
            background-color: #DDD !important;
        }
        .assoc-grid-container {
            height: auto;
            margin: 20px;
            border: none;
        }
        
        .assoc-grid {
            width:100%; 
            height: auto;
            display: none;
            border: none;
        }
        
        .assoc-grid-header {
            width:100%; 
            height: auto; 
            border: none;
        }
        
        .assoc-grid-title {
            font-weight: bold;
            font-size: 18px;
        }
        .assoc-grid-form {
            width:100%; 
            height: auto; 
            display: none;
            border: none;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.50);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.50);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.50);
  }
        
    .assoc-grid-container .dgrid {
            height: auto;
    }
       
    .assoc-grid-container .dgrid .dgrid-scroller {
            position: relative;
            overflow: visible;
        }
       
		
    .partytab-edit {
        display: none;
    }
    
    .partytab-create {
        display: block;
    }
    
    .assoc-form {
        display: block;
    }
     
    .locator-container {
          width: 100%;
          height: 100%;
          overflow-y: auto;
          border: none;
    }
    .locator-tab {
          width: 100%;
          height: 100%;
          border: none;
    }
    .locator-map-container {
        position: absolute;
          height: 100%;
          border: none;
    }
    
    .locator-list-container {
        position: absolute;
        width: 400px;
        height: 100%;
        border: none;
    }
    
    .locator-map {
        position: absolute;
          width: 500px;
          height: 400px;
          float: left;
          border: none;
    }
    
    .locator-map {
        position: absolute;
          width: 300px;
          height: 400px;
          float: right;
          border: none;
    }
    
    #locatorTab .dijitTabContainerTopChildWrapper {
        height: inherit;
    }

    .product-name {
        text-align: left;
    }
    
    .party-product {
        width: 30%;
        height: 160px;
    }
    
    .party-product .dgrid{
        width: 100%;
        height: 130px;
    }
    
    .party-product .dgrid .dgrid-scroller {
        overflow: auto;
        }
        
    .party-product .dgrid-selector,  .party-product .dgrid-column-0{
        width: 60px;
        }
        
    .locator-grid .field-organizationName {
        font-size: 16px;
        font-weight: heavy;
    }
    
    .locator-list-header {
        font-size: 16px;
        font-weight: heavy;
        margin: 6px;
    }
    .locator-grid .dgrid-cell {
        border: none;
    }
    
    .error-tooltip {
        width: 400px;
        height: 200px;
        background-color: #FF6;
        display: none;
    }

    .assoc-action-button {
        float: right;
    }

    #postalGridContainer {
        width: 1300px;
    }

    #phoneGridContainer {
        width: 450px;
    }

    #emailGridContainer {
        width: 450px;
    }

    #webGridContainer {
        width: 400px;
    }
    
    #MainPartyGrid .dgrid-column-0 {
        width: 60px;
    }

    #MainPartyGrid .dgrid-row {
        font-weight: bold;
        font-size: 16px;
    }    
    
    .detail-form {
        font-weight: bold;
        font-size: 20px;
    }    
    
    #MainPartyGrid .dgrid-row-odd {
        background: #F2F5F9;
    }
    
.loadingOverlay {
    background:  #fff url('/dojo/dijit/themes/claro/images/loadingAnimation.gif') no-repeat 10px 23px;
    position: absolute;
    z-index: 1001;
    display: block;
}
 
.pageOverlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
 
.loadingMessage {
    padding: 25px 40px;
    color: #999;
}